<div class="container container-custom" style="min-height:650px;">
<div class="row">
  <div class="col-md-2">
  </div>
  <div class = "back-grey col-md-8">
  	<h1 style="color: black" align= "center"> Leagues you own
    </h1>
  </div>
</div>
<div class="row">
  <div class = "col-md-2">
  </div>
  <% unless @leagues.empty? %>
    <div align = center class = "back-grey col-md-8">
    <table class="table table-bordered index" style="max-width:800px">
      <tr>
        <td>Sl.no</td>
        <td>Name</td> 
        <td>Users</td>
        <td>Coins</td>
        <td></td>
      </tr>
      <% @leagues.each do |league|%>
      <tr>
        <td><%= (@leagues.index(league))+1%></td>
        <td><%= link_to league.name,  admin_show_league_path(league.id) %></td> 
        <td><%= league.users.count %></td>
        <td><%= league.users.sum(:coins) %></td>
        <td><%= link_to "delete", delete_league_path(league.id), class: "red remove" %></td>
      </tr>
      <% end%>
    </table>
    </div>
  <% else %>
    <div class = "col-md-8">
      <h3 align="center" style="color: black"> No Leagues Found...</h3>  
    </div>  
  <% end %>  
</div> 

<% unless @leagues.empty? %>
	<div align = center class="row">
	    <div><%= paginate @leagues, :outer_window => 1 %></div>
	</div>
<% end %>		
</div>
<script type="text/javascript">
$(function(){
$( ".remove" ).each(function() {
  $(this).attr('data-confirm', "Are you sure?");
}); 
})
</script>