<section id="title" class="emerald" style="margin-top:90px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="color:#2C3446;">My Leagues</h1>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><%= link_to "Leagues", leagues_path, style: "color:#428bca;"  %></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


<div class="container container-custom" style="min-height:650px;">
<div class="row">
  <div class = "col-md-2">
  </div>
  <% unless @leagues.empty? %>
    <div align = center class = "back-grey col-md-8">
    <table class="table table-bordered index" style="max-width:760px">
      <tr>
        <td>Sl.no</td>
        <td>Name</td> 
        <td>Users</td>
        <td>Coins</td>
        <td>my pos</td>
      </tr>
      <% @leagues.each do |league|%>
      <tr>
        <td><%= (@leagues_all.index(league))+1%></td>
        <td><%= link_to league.name, league_path(league.id) %></td> 
        <td><%= league.users.count %></td>
        <td class="coin_text box"><%= league.users.sum(:coins) %><%= image_tag "coins.png" , :width => "25px", :height => "25px" %></td>
        <td><%= league.my_pos(current_user) %></td>
      </tr>
      <% end%>
    </table>
    </div>
  <% else %>
    <div class = "col-md-8">
      <h3 align="center" style="color: black"> No Leagues...</h3>  
    </div>  
  <% end %>  
</div> 
<% unless @leagues.empty? %>
	<div align = center class="row">
	    <div><%= paginate @leagues, :outer_window => 1 %></div>
	</div>
<% end %>
</div>