<section id="title" class="emerald" style="margin-top:90px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Create League</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><%= link_to "Leagues", leagues_path %></li>
                        <li><%= (link_to "My Leagues", my_leagues_path) %></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


<div class="container container-custom" style="min-height:650px;">
<% if flash[:error] %>
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert">
	  	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	  </button>
  	<%= flash[:error] %>
	</div>
<% end %>

<div class="row">
	<div class="col-md-2"></div>
	<div class= "back-grey col-md-8" align= "center">
		<%= form_for(@league, url: create_league_path, method: :post) do |f| %>
			<p>
				<div>
					League Name :
			    <%= f.text_field :name, placeholder: "League Name", id: "leag_name"%>
			    <span class = "error">
			    	&nbsp
			    </span>
			  </div>
		  </p>
		<%= f.submit "Create", id: "create" %>

		<% end %>
	</div>
</div>
</div>
