<div class="container container-custom" style="min-height:490px;">
<div class="row">
<% @bet_matches.each do |bet_match| %>
  <div class="col-xs-4 col-md-2">
    <div class="thumbnail">
    	<%= image_tag home_image(bet_match)%>
      	<h3 align="center">vs</h3>
      	<%= image_tag away_image(bet_match) %>
      <div class="caption">
        <h3><%= bet_match.bet_fixture.home_team + " vs " + bet_match.bet_fixture.away_team %></h3>
        <p><%=bet_match.bet_fixture.date %></p>
        <p><%= link_to "Edit Bet", edit_bet_match_path(bet_match.id),class: "btn btn-primary", role: "button"%></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>