<% comment = @comment %>
<span class = "span_right" data-commentid= "<%= comment.id%>">
		<%= image_tag "up.png", width: "15", height: "18", class: "liked"%>&nbsp<%= comment.like%> Likes
		</span>
		<span class= "span_down" data-commentid= "<%= comment.id%>">
		<%= image_tag "down.png", width: "15", height: "18", class: "disliked"%>&nbsp<%= comment.dislike%> Dislikes
		</span>