<script>
            $(function($) {

                $(".knob").knob({
                    change : function (value) {
                        //console.log("change : " + value);
                    },
                    release : function (value) {
                        //console.log(this.$.attr('value'));
                        console.log("release : " + value);
                    },
                    cancel : function () {
                        console.log("cancel : ", this);
                    },
                    /*format : function (value) {
                        return value + '%';
                    },*/
                    draw : function () {

                        // "tron" case
                        if(this.$.data('skin') == 'tron') {

                            this.cursorExt = 0.3;

                            var a = this.arc(this.cv)  // Arc
                                , pa                   // Previous arc
                                , r = 1;

                            this.g.lineWidth = this.lineWidth;

                            if (this.o.displayPrevious) {
                                pa = this.arc(this.v);
                                this.g.beginPath();
                                this.g.strokeStyle = this.pColor;
                                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
                                this.g.stroke();
                            }

                            this.g.beginPath();
                            this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
                            this.g.stroke();

                            this.g.lineWidth = 2;
                            this.g.beginPath();
                            this.g.strokeStyle = this.o.fgColor;
                            this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                            this.g.stroke();

                            return false;
                        }
                    }
                });

                // Example of infinite knob, iPod click wheel
                var v, up=0,down=0,i=0
                    ,$idir = $("div.idir")
                    ,$ival = $("div.ival")
                    ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                    ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
                $("input.infinite").knob(
                                    {
                                    min : 0
                                    , max : 20
                                    , stopper : false
                                    , change : function () {
                                                    if(v > this.cv){
                                                        if(up){
                                                            decr();
                                                            up=0;
                                                        }else{up=1;down=0;}
                                                    } else {
                                                        if(v < this.cv){
                                                            if(down){
                                                                incr();
                                                                down=0;
                                                            }else{down=1;up=0;}
                                                        }
                                                    }
                                                    v = this.cv;
                                                }
                                    });
            });
        </script>


<div class="container container-custom" style="margin-top:150px;">

<% if flash[:error] %>
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert">
	  	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	  </button>
  	<%= flash[:error] %>
	</div>
<% end %>
<% if notice %>
  <p class="alert alert-success alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger alert-dismissible" role="alert" ><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><%= alert %></p>
<% end %>

<div class="back-grey">
<div class="row">
<div class="col-xs-2 col-md-2"></div>
	<div class="col-xs-4 col-md-3">
			<%= image_tag "#{@fixture.home_team}.png", class: "team_image", :align => "center" %><br><br>
			<strong><p align="center"><em><%= @fixture.home_team %></em></p></strong>
	</div>
	<div class="col-xs-1 col-md-2">
		<%= image_tag "vs.png",class: "vs_image", :align => "center" %>
		<div class="row">
			<br><p align="center" class = "bet"><%= @fixture.date %></p>
			<p align="center" class = "bet"><%= @fixture.time %>
			<p align="center" class = "bet"><%= @fixture.location %>
		</div>
	</div>
	<div class="col-xs-4 col-md-3">
			<%= image_tag "#{@fixture.away_team}.png", class: "team_image" %><br><br>
			<strong><p align="center"><em><%= @fixture.away_team %></em></p></strong>
	</div>
</div><br><legend></legend><br>

<% unless placed_bet(@fixture.id) %>

	<% if current_user.coins > 0 %>

	<%= form_for(@bet, :url => createbet_path(@fixture.id), method: :post, validate: true) do |f| %>
		<div class="row">
			<div class="col-xs-6 col-md-2">
			</div>
			<div class="col-xs-9 col-md-10" style="padding-left:40px;font-size:20px;">
				<fieldset class="radios">
					<div class="col-xs-9 col-md-4">
			   		<label class="label_radio r_on" style="color:#0B173B;">
			     	<%= radio_button_tag :prediction, 'home', :name =>"iCheck", :id => "home" %>
			     	<%= @fixture.home_team %></label>
			    </div>
			    <div class="col-xs-9 col-md-4">
			   		<label class="label_radio" style="color:#0B173B;">
			     	<%= radio_button_tag :prediction, 'draw', :checked => true, :name =>"iCheck", :id => "draw" %>
			     	Draw</label>
			    </div>
			    <div class="col-xs-9 col-md-3">			    
			   		<label class="label_radio" style="color:#0B173B;">
			     	<%= radio_button_tag :prediction, 'away', :name =>"iCheck", :id => "away" %>
			     	<%= @fixture.away_team %></label>
			    </div>
			 </fieldset>
			</div>
		</div><br>
		<div class="row">
			<div class="col-xs-6 col-md-2">
			</div>
			<div class="col-xs-6 col-md-10" style="padding-left:68px;">
				<div class="col-md-3" style="margin-top: 60px;">
					<span><%= image_tag "coins.png" , :width => "30px", :height => "30px" %><span style="font-size:19px;" class="coin_text"><em>Coins</span> : </em></span> 
				</div>
				<div class="col-md-4">
					<%= f.text_field :coins, :class => "dial remove", :value => "100" %>
				</div>
				<div class="col-md-6">
					<div class = "hidden coin_return" id = "ret_div"><em>Expected Return : </em><span id = "return" class="coin_text"></span><span><%= image_tag "coins.png" , :width => "30px", :height => "30px" %></span> </div>
				</div>
			</div>
		</div><br>
		<div class="row">
			<div class="col-xs-6 col-md-5">
			</div>
			<div class="col-xs-6 col-md-4" style="padding-left:60px;">
				<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" id="coin_submit">
					Submit
				</button>
			</div>
		</div><br>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong><%= @fixture.home_team %> vs. <%= @fixture.away_team %></strong></h4>
      </div>
      <div class="modal-body">
        Are you sure to place bet for <strong><span class="modal-coins coin_text"></span></strong> coins
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", value: "Submit", class: "btn btn-success btn-lg", :id => "submit", :disable_with => 'Submit' %>
      </div>
    </div>
  </div>
</div>

<legend></legend><br>

<% end %>

	<% else %>

		<h1 style="color:#B40404"> Not enough Coins to Place Bet!! </h1><br>


		<legend></legend>



	<% end %>

<% end %>

<% if atleast_one_bet > 0 %>

	<div class="row">
		<div class="col-xs-6 col-md-1">
		</div>
		<div class="col-xs-6 col-md-4">
			<h3 style="text-decoration:underline"><em>Bet Summary</em></h3>
		</div>
	</div>
	<div class="row">
	<div class="col-xs-6 col-md-2">
	</div>
	<div class="col-xs-6 col-md-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>
					<td><h4 style="color:#0B2161"><%= @fixture.home_team %></h4></td>
					<td><h4 style="color:#0B2161">Draw</h4></td>
					<td><h4 style="color:#0B2161"><%= @fixture.away_team %></h4></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><h5>Bet Placed</h5></td>
				  <td class="coin_text"><%= user_bets("home") || "Not placed" %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td class="coin_text"><%= user_bets("draw") || "Not placed" %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td class="coin_text"><%= user_bets("away") || "Not placed" %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				</tr>
				<tr>
					<td><h5>Expected Return</h5></td>
				  <td class="coin_text"><%= result("home") || 0 %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td class="coin_text"><%= result("draw") || 0 %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td class="coin_text"><%= result("away") || 0 %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div><br><legend></legend><br>



<% end %>

<div class="row">
		<div class="col-xs-6 col-md-1">
		</div>
		<div class="col-xs-6 col-md-4">
			<h3 style="text-decoration:underline;"><em>Bet Stats</em></h3>
		</div>
	</div>
<div class="row">
	<div class="col-xs-6 col-md-2">
	</div>
	<div class="col-xs-6 col-md-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>
					<td><h4 style="color:#0B2161"><%= @fixture.home_team %></h4></td>
					<td><h4 style="color:#0B2161">Draw</h4></td>
					<td><h4 style="color:#0B2161"><%= @fixture.away_team %></h4></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><h5>Total Users</h5></td>
				  <td><h5 style="color:black;"><%= total_users_bet("home_bets") rescue nil %></h5></td>
				  <td><h5 style="color:black;"><%= total_users_bet("draw_bets") rescue nil %></h5></td>
				  <td><h5 style="color:black;"><%= total_users_bet("away_bets") rescue nil %></h5></td>
				</tr>
				<tr>
					<td><h5>Total Coins</h5></td>
				  <td class="coin_text"><%= total_coins_bet("home_bets") rescue nil %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td class="coin_text"><%= total_coins_bet("draw_bets") rescue nil %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td class="coin_text"><%= total_coins_bet("away_bets") rescue nil %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				</tr>
				<tr>
					<td><h5>Highest Bet</h5></td>
				  <td class="coin_text"><%= @home_max || "0" %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td class="coin_text"><%= @draw_max || "0" %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td class="coin_text"><%= @away_max || "0" %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<%#= result %>
</div>
<div class = "row">
<div class ="col-md-1"></div>
 <div class ="col-md-10">
	<%= line_chart @predictions.map{|prediction|
    {name: prediction, data: @fixture.bets.fetch_bet(prediction).group_by_day(:created_at).count}
		},  { height: "400px",library: { title: {
            text: 'Betting Rate'
        },yAxis: {title: {text: 'No of Bets' }}, xAxis: {title: {text: 'Days' }}}}  %>
</div>
</div>
<br>

<% unless @bet_comments.empty? %>
<h3 align = "center">Comments</h3>
<br>

<% @bet_comments.each do |comment|%>
<div class = "row">
	<div class = "col-md-2">
	</div>
	<div class="col-md-8">
		<div class="author well <%=comment.id%>com">
			<div class="media">
				<div class="pull-left">
					<%= display_image(comment.user)%>
				</div>
				<div class="media-body">
		      <div class="media-heading">
		      	<strong><%= comment.user.nick_name %></strong>
		      </div>
					<p><%= comment.content%></p>
					<span class = "comment_right" data-comment="<%=comment.id%>"><%=(image_tag "delete.png", width: "20", height: "20", class: "delete_comment") if comment.user == current_user%></span>
					<span id= "<%= comment.id%>">
						<span class = "span_right" data-commentid= "<%= comment.id%>">
						<%= image_tag "up.png", width: "15", height: "18", class: "like"+comment.status(current_user)%>&nbsp<%= comment.like %>
						</span>
						<span class= "span_down" data-commentid= "<%= comment.id%>">
						<%= image_tag "down.png", width: "15", height: "18", class: "dislike"+comment.status(current_user)%>&nbsp<%= comment.dislike %>
						</span>
					</span>
					<p><span class ="created_at"><%= comment.created_at.strftime("Commented at %d-%m-%Y %H:%M:%S") %></span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<%end%>
<% end %>

		<div class = "row">
		<% unless @bet_comments.empty? %>
			<%= link_to "See all Comments", bet_comments_path(@fixture.id), class: "a_right" %>
		<% end %>
		</div>

		<div class = "row">
			<div class = "col-md-2">
			</div>
			<div class="col-md-8">
				<div class="thumbnail">
					<%= form_for(@comment, url: create_comment_path(@fixture.id, :page_number => 1), method: :post) do |f| %>
					<p><div>
						 Add Comment :
				    <%= f.text_area :content, class: "form-control",rows: "3"%>
				  </div></p>
				  <%= f.submit "comment", class: "btn btn-primary" %>

				<% end %>
				</div>
			</div>
		</div>

</div>


<script type="text/javascript">
  var specialKeys = new Array();
  specialKeys.push(8); //Backspace
  $(function () {
      $(".numeric").bind("keypress", function (e) {
          var keyCode = e.which ? e.which : e.keyCode
          var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
          $(".error").css("display", ret ? "none" : "inline");
          return ret;
      });
      $(".numeric").bind("paste", function (e) {
          return false;
      });
      $(".numeric").bind("drop", function (e) {
          return false;
      });
  });

var vote = function(type,user_id,comment_id){
$.ajax({
    type: "POST",
    dataType: "script",
    url: '/bet/vote',
    data: {type: type, user: user_id, comment: comment_id}
  });
}

$('.like').click(function(e){
	console.log($(this).parent().attr('data-commentid'))
	var comment_id = $(this).parent().attr('data-commentid');
	var user_id = "<%= current_user.id%>"
	vote("like",user_id,comment_id)
});

$('.dislike').click(function(e){
	console.log($(this).parent().attr('data-commentid'))
	var comment_id = $(this).parent().attr('data-commentid');
	var user_id = "<%= current_user.id%>"
	vote("dislike",user_id,comment_id)
});

$('.delete_comment').click(function(e){
	var comment_id = $(this).parent().attr('data-comment')
	if (comment_id){
		$.ajax({
    type: "GET",
    dataType: "script",
    url: '/delete/comment',
    data: { comment_id: comment_id}
  });
	} 

})



  $('#submit').click(function(event){
  	if ($('.numeric').val() == ""){
				$('#error').html("please add coins")
					event.preventDefault();
			}
			else{
				$('#error').empty();
			}
  });

  var show_return = function(fixture_id){
  	var coins = $('#bet_coins').val();
  	var bet_fixture_id = fixture_id;
  	var prediction ;
  	if($('#prediction_home').prop('checked')){
  		prediction = "home";
  	}
  	else if ($('#prediction_draw').prop('checked')){
  		prediction = "draw";

  	}
  	else if($('#prediction_away').prop('checked')){
  		prediction = "away";
  	}
    if (coins != ""){
    	$.ajax({
		    type: "GET",
		    dataType: "script",
		    url: '/show/predicted_coins',
		    data: { coins: coins, bet_fixture_id: bet_fixture_id, prediction: prediction}
		  });
			} 
  }
 //  $('#bet_coins').on("change", function () {
 //  	var flag = "<%= @fixture.id%>"
 //  	show_return(flag);
	// });

	$('.label_radio').click(function() {
		var flag = "<%= @fixture.id%>"
  	show_return(flag);
	});


	$( ".remove" ).each(function() {
	  $(this).attr('data-confirm', "Place bet?");
	});



  $('#coin_field').focusout(function(){
  	$('#ret_div').addClass("hidden");
  })

  $('#coin_submit').click(function() {
  	$('.modal-coins').html($('#bet_coins').val());
  });


  // 
$(function() {

    $(".dial").knob({
                'min':1,
                'max': '<%= current_user.coins %>',
                "fgColor":"rgb(46, 204, 113)",

                'release' : function (v) { var flag = "<%= @fixture.id%>"
  																					show_return(flag);/*make something*/ }


                });


      $('input').iCheck({
    		checkboxClass: 'icheckbox_square-green',
    		radioClass: 'iradio_square-green',
    		increaseArea: '20%' // optional
  });

});

</script>

