<br><br>
<div class="container-narrow">
<div class="row">
<div class="col-xs-2 col-md-2"></div>
	<div class="col-xs-4 col-md-3">
			<%= image_tag "#{@fixture.home_team}.png", :style => "height:200px;width:200px;margin-left: 30px;", :align => "center" %><br><br>
			<strong><p align="center" style="color:black;"><%= @fixture.home_team %></p></strong>
	</div>
	<div class="col-xs-1 col-md-2">
		<%= image_tag "vs.png", :style => "height:50px;width:50px;margin-top:80px;margin-left: 50px;", :align => "center" %>
		<div class="row">
			<br><p align="center" class = "bet"><%= @fixture.date %></p>
			<p align="center" class = "bet"><%= @fixture.time %>
			<p align="center" class = "bet"><%= @fixture.location %>
		</div>
	</div>
	<div class="col-xs-4 col-md-3">
			<%= image_tag "#{@fixture.away_team}.png", :style => "height:200px;width:200px;margin-left: 30px;" %><br><br>
			<strong><p align="center" style="color:black;"><%= @fixture.away_team %></p></strong>
	</div>
</div>
<br><br>


<% unless placed_bet %>

	<%= form_for(@bet, :url => createbet_path(@fixture.id), method: :post, validate: true) do |f| %>
		<div class="row">
			<div class="col-xs-6 col-md-5">
			</div>
			<div class="col-xs-6 col-md-5">
				<fieldset class="radios">
			    <label class="label_radio r_on" style="color:black;">
			      <%= f.radio_button :prediction, 'home', :checked => true %>
			      <%= @fixture.home_team %></label>
			    <label class="label_radio" style="color:black;">
			      <%= f.radio_button :prediction, 'draw', :checked => true %>
			      Draw</label>
			    <label class="label_radio" style="color:black;">
			      <%= f.radio_button :prediction, 'away', :checked => true %>
			      <%= @fixture.away_team %></label>
			  </fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-5">
			</div>
			<div class="col-xs-6 col-md-5">
				<span style ="font-size:20px;color:black;"><%= image_tag "coins.png" , :width => "30px", :height => "30px" %>Coins : </span> <%= f.text_field :coins, :id => "coin_field", :class => "numeric" %>
				<p id ="error" style="color:red;"></p>
				<div class = "hidden red" id = "ret_div">Expected Return : <span id = "return"></span> </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-5">
			</div>
			<div class="col-xs-6 col-md-5">
				<%= f.submit "Submit", value: "Submit", class: "btn btn-success", :id => "submit", :disable_with => 'Submit' %>
			</div>
		</div>
	<% end %>

<% else %>

	<div class="row">
		<div class="col-xs-6 col-md-5">
		</div>
		<div class="col-xs-6 col-md-7">
			<p><span style ="font-size:20px;color:black;"> Bet Placed for : </span> <span style = "color:#585858;font-size:18px;font-weight:700;" ><%= predicted_team  %></span> </p>
		</div>
	</div><br>
	<div class="row">
		<div class="col-xs-6 col-md-5">
		</div>
		<div class="col-xs-6 col-md-7">
			<p> <span style ="font-size:20px;color:black;">Coins : </span> <span style = "color:#886A08" ><%= @placed_bet.first.coins  %> <%= image_tag "coins.png" , :width => "30px", :height => "30px" %></span> </p>
		</div>
	</div><br>
	<div class="row">
		<div class="col-xs-6 col-md-5">
		</div>
		<div class="col-xs-6 col-md-7">
			<p> <span style ="font-size:20px;color:black;">Current Bet value : </span> <span style = "color:#886A08" ><%= result  %> <%= image_tag "coins.png" , :width => "30px", :height => "30px" %></span> </p>
		</div>
	</div><br><br>

<% end %>
<div class="row">
	<div class="col-xs-6 col-md-2">
	</div>
	<div class="col-xs-6 col-md-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>
					<td style="font-size:15px;color:red;"><%= @fixture.home_team %></td>
					<td style="font-size:15px;color:black;">Draw</td>
					<td style="font-size:15px;color:green;"><%= @fixture.away_team %></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="font-size:15px;color:black;">Total Users</td>
				  <td style="color:blue;"><%= total_users_bet("home_bets") rescue nil %></td>
				  <td style="color:blue;"><%= total_users_bet("draw_bets") rescue nil %></td>
				  <td style="color:blue;"><%= total_users_bet("away_bets") rescue nil %></td>
				</tr>
				<tr>
					<td style="font-size:15px;color:black;">Total Coins</td>
				  <td style = "color:#886A08"><%= total_coins_bet("home_bets") rescue nil %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td style = "color:#886A08"><%= total_coins_bet("draw_bets") rescue nil %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				  <td style = "color:#886A08"><%= total_coins_bet("away_bets") rescue nil %><%= image_tag "coins.png" , :width => "15px", :height => "15px" %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>


<h3 align = "center">Comments</h3>
<br>
<p class = "right">Showing last 5 comments</p>
<% unless @bet_comments.empty? %>
<% @bet_comments.each do |comment|%>
<div class = "row">
	<div class = "col-md-2">
	</div>
	<div class="col-md-8">
		<div class="thumbnail <%=comment.id%>com">
			<div class= "row">
				<div class= "col-md-2">
				<%= display_image(comment.user)%>
				</div>
				<div class="content col-md-6 thumbnail"><p><%= comment.content%></p>
				</div>
				<span class = "comment_right" data-comment="<%=comment.id%>"><%=(image_tag "delete.png", width: "20", height: "20", class: "delete_comment") if comment.user == current_user%></span>
			</div>
			<div class="row">
			<span class="fullname"><%= comment.user.full_name%></span>
			<span id= "<%= comment.id%>">
			<span class = "span_right" data-commentid= "<%= comment.id%>">
			<%= image_tag "green_up.png", width: "20", height: "20", class: "like"+comment.status(current_user)%><%= comment.like%> Likes
			</span>
			<span class= "span_down" data-commentid= "<%= comment.id%>">
			<%= image_tag "red_down.png", width: "20", height: "20", class: "dislike"+comment.status(current_user)%><%= comment.dislike%> Dislikes
			</span>
			</span>

				<span class ="created_at"><%= comment.created_at.strftime("Commented at %d-%m-%Y %H:%M:%S") %></span>
			</div>
		</div>
	</div>
</div>
<%end%>
<% end %>
		<div class = "row">
			<%= link_to "See all Comments", bet_comments_path(@fixture.id), class: "a_right"%>
		</div>

		<div class = "row">
			<div class = "col-md-2">
			</div>
			<div class="col-md-8">
				<div class="thumbnail">
					<%= form_for(@comment, url: create_comment_path(@fixture.id, :page_number => 1), method: :post) do |f| %>
					<p><div>
						 Add Comment :
				    <%= f.text_area :content, class: "form-control",rows: "3"%>
				  </div></p>
				  <%= f.submit "comment", class: "btn btn-primary" %>

				<% end %>
				</div>
			</div>
		</div>


<script type="text/javascript">
  var specialKeys = new Array();
  specialKeys.push(8); //Backspace
  $(function () {
      $(".numeric").bind("keypress", function (e) {
          var keyCode = e.which ? e.which : e.keyCode
          var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
          $(".error").css("display", ret ? "none" : "inline");
          return ret;
      });
      $(".numeric").bind("paste", function (e) {
          return false;
      });
      $(".numeric").bind("drop", function (e) {
          return false;
      });
  });

var vote = function(type,user_id,comment_id){
$.ajax({
    type: "POST",
    dataType: "script",
    url: '/bet/vote',
    data: {type: type, user: user_id, comment: comment_id}
  });
}

$('.like').click(function(e){
	console.log($(this).parent().attr('data-commentid'))
	var comment_id = $(this).parent().attr('data-commentid');
	var user_id = "<%= current_user.id%>"
	vote("like",user_id,comment_id)
});

$('.dislike').click(function(e){
	console.log($(this).parent().attr('data-commentid'))
	var comment_id = $(this).parent().attr('data-commentid');
	var user_id = "<%= current_user.id%>"
	vote("dislike",user_id,comment_id)
});

$('.delete_comment').click(function(e){
	var comment_id = $(this).parent().attr('data-comment')
	if (comment_id){
		$.ajax({
    type: "GET",
    dataType: "script",
    url: '/delete/comment',
    data: { comment_id: comment_id}
  });
	} 

})



  $('#submit').click(function(event){
  	if ($('.numeric').val() == ""){
				$('#error').html("please add coins")
					event.preventDefault();
			}
			else{
				$('#error').empty();
			}
  });

  var show_return = function(fixture_id){
  	var coins = $('#coin_field').val();
  	var bet_fixture_id = fixture_id;
  	var prediction ;
  	if($('#bet_prediction_home').prop('checked')){
  		prediction = "home";
  	}
  	else if ($('#bet_prediction_draw').prop('checked')){
  		prediction = "draw";

  	}
  	else if($('#bet_prediction_away').prop('checked')){
  		prediction = "away";
  	}
    if (coins != ""){
    	$.ajax({
		    type: "GET",
		    dataType: "script",
		    url: '/show/predicted_coins',
		    data: { coins: coins, bet_fixture_id: bet_fixture_id, prediction: prediction}
		  });
			} 
  }
  $('#coin_field').keyup(function() {
  	var flag = "<%= @fixture.id%>"
  	show_return(flag);
	});

	$('.label_radio').click(function() {
		var flag = "<%= @fixture.id%>"
  	show_return(flag);
	});



  $('#coin_field').focusout(function(){
  	$('#ret_div').addClass("hidden");
  })

</script>