<section id="title" class="emerald custom-emerald" style="margin-top:90px;" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="color:#2C3446;">Bet Results</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                	<li><a href="/home" style="color:#428bca;">Home</a></li>
                	<li>Bet Results</li>
                </ul>
            </div>
        </div>
    </div>
</section><br>


<div class="container" style="min-height:650px;">
<% unless @users.empty?%>
	<div class="row">
		<div class="col-xs-6 col-md-2">
			<h4 style = "color:black;"><em>Your Position : </em><strong><%= @user_position %></strong></h4>
		</div>
		<div class="col-xs-6 col-md-8">
			<table class="table table-bordered" style="width:800px">
				<tr style="background-color:black;">
				  <td>Position</td>
				  <td>Nick Name</td> 
				  <td>Team</td>
				  <td>Coins</td>
				</tr>
				<% @users.each do |user|%>
				<tr>
				  <td><%= (@users_all.index(user))+1%></td>
				  <td><%= user.full_name %></td> 
				  <td><%= team_icon(user.fav_team) %>&nbsp<%= user.fav_team %></td>
				  <td class="coin_text box"><%= user.coins %><%= image_tag "coins.png" , :width => "25px", :height => "25px" %></td>
				</tr>
				<% end%>
			</table>
		</div>
	</div>
<% end %>

<% unless @users.empty?%>
<div align = center class="row">
    <div><%= paginate @users, :outer_window => 1 %></div>
</div>
<% end %>
</div>
