<section id="title" class="emerald custom-emerald" style="margin-top:90px;" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="color:#2C3446;">Bet History</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                	<li><a href="/home" style="color:#428bca;">Home</a></li>
                	<li>Bet History</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<br>

<div class="container" style="min-height:650px;">


	<% unless current_user.bets.empty? %>

		<div class="row">
			<div class="col-xs-6 col-md-2">
			</div>
			<div class="col-xs-6 col-md-8">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Sl No.</td>
							<td>Match</td>
							<td>Placed Coins</td>
							<td>Coins won</td>
						</tr>
					</thead>

					<tbody>
						<% sl = 0%>
						<% current_user.bets.each do |bet| %>
							<tr>
								<td><%= sl = sl+1 %></td>
							  <td><%= bet.bet_fixture.home_team %> vs 
							  		<%= bet.bet_fixture.away_team %></td>
							  <td class="coin_text box"><%= bet.coins %><%= image_tag "coins.png" , :width => "25px", :height => "25px" %></td>
							  <td class="coin_text box"><%= bet.coins_won || 0 %><%= image_tag "coins.png" , :width => "25px", :height => "25px" %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

	<% else %>

		<h3 align = "center" style = "font-weight:500;" >No current Bets</h3>

	<% end %>
	</div>

