<div class="loader" style="background-color:black;position:absolute;height:100%;width:100%;z-index:99999"></div>

   <div style="min-height:625px;">
    <section id="main-slider" class="no-margin">
      <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
          <li data-target="#main-slider" data-slide-to="0" class="active"></li>
          <% for i in 1...@count %>
          	<li data-target="#main-slider" data-slide-to="#{i}"></li>
          <% end %>
        </ol>

        <% unless @matches.empty? %>
          <div class="carousel-inner">
            <div class="item active" style="background-image: url(<%= @matches.first.bet_fixture.home_team.gsub(" ","") + '.jpg' %>)">
              <div class="container">
              
                <% if flash[:error] %>
                  <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <%= flash[:error] %>
                  </div>
                <% end %>
                <% if notice %>
                  <p class="alert alert-success alert-dismissible" role="alert" style="position: absolute;width: 88%;margin-top: 100px;" >
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <%= notice %>
                  </p>
                <% end %>
                <% if alert %>
                  <p class="alert alert-danger alert-dismissible" role="alert" style="position: absolute;width: 88%;margin-top: 100px;" ><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><%= alert %></p>
                <% end %>

                <div class="row">
                  <div class="col-sm-6 hidden-xs animation animated-item-4">
                    <div class="centered">
                      <div class="embed-container">
                        <%= link_to (image_tag "#{@matches.first.bet_fixture.home_team}.png", class: "slider-image"), bet_path(@matches.first.bet_fixture.id) %>
                        <%= link_to (image_tag "#{@matches.first.bet_fixture.away_team}.png", class: "slider-image"), bet_path(@matches.first.bet_fixture.id)  %>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-content centered">
                    <p class="boxed animation animated-item-2">
                    <%= @matches.first.bet_fixture.date %></p>
                  </div>
                  <p class="boxed animation animated-item-3">
                  <%= @matches.first.bet_fixture.time %></p>
                </div>
              </div>
            </div><!--/.item-->

            <% for i in 1...@count %>
	            <div class="item" style="background-image: url(<%= @matches[i].bet_fixture.home_team.gsub(" ","") + '.jpg' %>)">
	              <div class="container">
	                <div class="row">
	                  <div class="col-sm-6 hidden-xs animation animated-item-4">
	                    <div class="centered">
	                      <div class="embed-container">
	                        <%= link_to (image_tag "#{@matches[i].bet_fixture.home_team}.png", class: "slider-image"), bet_path(@matches[i].bet_fixture.id)  %>
	                        <%= link_to (image_tag "#{@matches[i].bet_fixture.away_team}.png", class: "slider-image"), bet_path(@matches[i].bet_fixture.id)   %>
	                      </div>
	                    </div>
                  	</div>
                    <div class="carousel-content centered">
                      <p class="boxed animation animated-item-2">
                      <%= @matches[i].bet_fixture.date %></p>
                    </div>
                    <p class="boxed animation animated-item-3">
                    <%= @matches[i].bet_fixture.time %></p>
	                </div>
	              </div>
	            </div><!--/.item-->
            <% end %>
          </div><!--/.carousel-inner-->

        <% end %>
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    
    </div>
