

<%= link_to "Edit Profile",  edit_user_path(current_user)%>||
<%= display_image(current_user) %>
<div class="container-narrow">
<div class="row">
	<div class="col-xs-4 col-md-2">
	</div>
  <div class="col-xs-12 col-md-8">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		   	<% for i in 1...@count %>
		    <li data-target="#carousel-example-generic" data-slide-to="#{i}"></li>
		  	<% end %>
		  </ol>

		  <!-- Wrapper for slides -->

		  <% unless @matches.empty? %>

		  <div class="carousel-inner">

		    <div class="item active">
		    	<div class = "row">
			    	<div class="col-xs-4 col-md-2">
			    	</div>
			    	<div class="col-xs-8 col-md-4">
					    <div class="thumbnail">
					      <%= image_tag "#{@matches.first.bet_fixture.home_team}.png" %>
					    </div>
					  </div>
					  <div class="col-xs-8 col-md-4">
					    <div class="thumbnail">
					      <%= image_tag "#{@matches.first.bet_fixture.away_team}.png" %>
					    </div>
					  </div>
				  </div>
		      <div class="row">
		      	<div class="col-xs-4 col-md-5">
			    	</div>
			    	<div class="col-xs-8 col-md-4">
		      		<%= button_to "Bet", bet_path(@matches[i].bet_fixture.id), :class => "btn btn-success", :method => "get" %>
		      	</div>
		      </div>
		    </div>
		    <% for i in 1...@count %>
			    <div class="item">
			    	<div class = "row">
				      <div class="col-xs-4 col-md-2">
				    	</div>
				    	<div class="col-xs-8 col-md-4">
						    <div class="thumbnail">
						      <%= image_tag "#{@matches[i].bet_fixture.home_team}.png" %>
						    </div>
						  </div>
						  <div class="col-xs-8 col-md-4">
						    <div class="thumbnail">
						      <%= image_tag "#{@matches[i].bet_fixture.away_team}.png" %>
						    </div>
						  </div>
						</div>
			      <div class="row">
			      	<div class="col-xs-4 col-md-5">
			    		</div>
			    		<div class="col-xs-8 col-md-4">
			    			<%= button_to "Bet", bet_path(@matches[i].bet_fixture.id), :class => "btn btn-success", :method => "get" %>
			      	</div>
			      </div>
			    </div>
			  <% end %>
		  </div>


		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <% end %>
		</div>
	</div>
</div><br><br>



	<h3 align = "center" style = "color:black;font-weight:700;" >Bet History</h3><br>

	<% unless current_user.bets.empty? %>

		<div class="row">
			<div class="col-xs-6 col-md-2">
			</div>
			<div class="col-xs-6 col-md-8">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>
							<td style="font-size:20px;">Sl No.</td>
							<td style="font-size:20px;">Match</td>
							<td style="font-size:20px;">Placed Coins</td>
							<td style="font-size:20px;">Coins won</td>
						</tr>
					</thead>

					<tbody>
						<% sl = 0%>
						<% current_user.bets.each do |bet| %>
							<tr>
								<td><%= sl = sl+1 %></td>
								<td></td>
							  <td><%= bet.bet_fixture.home_team %> vs 
							  		<%= bet.bet_fixture.away_team %></td>
							  <td class="coin_text"><%= bet.coins %><%= image_tag "coins.png" , :width => "30px", :height => "30px" %></td>
							  <td class="coin_text"><%= bet.coins_won %><%= image_tag "coins.png" , :width => "30px", :height => "30px" %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

	<% else %>

		<h3 align = "center" style = "font-weight:500;" >No current Bets</h3>

	<% end %>

</div>
