    <section id="main-slider" class="no-margin">
      <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
          <li data-target="#main-slider" data-slide-to="0" class="active"></li>
          <% for i in 1...@count %>
          	<li data-target="#carousel-example-generic" data-slide-to="#{i}"></li>
          <% end %>
        </ol>

        <% unless @matches.empty? %>

          <div class="carousel-inner">
            <div class="item active" style="background-image: url(<%= @matches.first.bet_fixture.home_team.gsub(" ","") + '.jpg' %>)">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 hidden-xs animation animated-item-4">
                    <div class="centered">
                      <div class="embed-container">
                        <%= image_tag "#{@matches.first.bet_fixture.home_team}.png", class: "slider-image" %>
                        <%= image_tag "#{@matches.first.bet_fixture.away_team}.png", class: "slider-image"  %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/.item-->

            <% for i in 1...@count %>
	            <div class="item" style="background-image: url(<%= @matches[i].bet_fixture.home_team.gsub(" ","") + '.jpg' %>)">
	              <div class="container">
	                <div class="row">
	                  <div class="col-sm-6 hidden-xs animation animated-item-4">
	                    <div class="centered">
	                      <div class="embed-container">
	                        <%= image_tag "#{@matches[i].bet_fixture.home_team}.png", class: "slider-image"  %>
	                        <%= image_tag "#{@matches[i].bet_fixture.away_team}.png", class: "slider-image"  %>
	                      </div>
	                    </div>
                  	</div>
	                </div>
	              </div>
	            </div><!--/.item-->
            <% end %>
          </div><!--/.carousel-inner-->

        <% end %>
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

