<section id="title" class="emerald custom-emerald" style="margin-top:90px;" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="color:#2C3446;">Premier League Results</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                	<% if current_user %>
                		<li><a href="/home" style="color:#428bca;">Home</a></li>
                	<% else %>
                		<li><a href="/" style="color:#428bca;">Home</a></li>
                	<% end %>
                	<li>Results</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<br>

<div class="container" style="min-height:650px;">
	<div class="table-responsive">
		<table class="table table-condensed">
		  <% @results.each do |a| %>
		  	<% if a.date != "" %>
			  	<thead>
			  		<tr style="background-color:#2C3446;">
			  			<td colspan="2"><b><%= a.date %></b></td>
			  			<td colspan="4"></td>
			  		</tr>
			  	</thead>
			  <% end %>
			  <% if a.hometeam and a.awayteam != ""%>
			  	<tbody>
					  <tr style="color:white;">
					  	<td></td>
					  	<td class="text-center"><em><%= a.hometeam %></em></td>
					  	<td class="text-center"><b><%= a.score %></b></td>
					  	<td class="text-center"><em><%= a.awayteam %></em></td>
					  	<td class="text-center"><em><%= a.location %></em></td>
					  </tr>
					</tbody>
				<% end %>
		  <% end %>
		</table>
	</div>
</div>
