<!DOCTYPE html>
<html>

	<head>
	  <title>BetApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<% unless params[:controller] == "home" and  params[:action] == "index" %> 
		<body>

			<header id="header" class="header"  data-offset-top="10">
		    <nav class="navbar navbar-default" role="navigation" style="background-color:#0B0B3B">		
					<div class="navbar-header">
			      <div class="collapse navbar-collapse navbar-ex1-collapse" style="float:right;">
		          <ul class="nav navbar-nav">
		            <li class="dropdown ">
		            	<% if current_user %>
		            		<% if current_user.has_role? :admin %>
		            			<a href="/admins" style="color:#0B0B3B;">Home</a>
		            		<% else %>
		            			<a href="/home" style="color:#0B0B3B;">Home</a>
		            		<% end %>
		            	<% else %>
		              	<a href="" style="color:#0B0B3B;">Home</a>
		              <% end %>
		            </li>

		            <li class="dropdown">
		              <a href="/table" style="color:#0B0B3B;">Table</a>
		            </li>

		            <li class="dropdown">
		             	<a href="/fixtures" style="color:#0B0B3B;">Fixtures</a>
		            </li>

		            <li class="dropdown">
		              <a href="/results" style="color:#0B0B3B;">Results</a>
		            </li>

		            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, title: "Logout" %></li>

		            <% if current_user %>
			            <li class="dropdown" style="margin-left:600px;margin-top: 15px;">
			              <%= current_user.email %>
			            </li>
		            <% end %>

		          </ul>
		        	<!-- /.nav -->
		        </div>
		        	<!-- /.navbar-collapse -->
		      </div>

		    </nav>
		      <!-- /.navbar -->
		  </header>

	    <div class="container">

		    <% if notice %>
		    	<p class="alert alert-success" role="alert" ><%= notice %></p>
		    <% end %>
		    <% if alert %>
					<p class="alert alert-danger" role="alert" ><%= alert %></p>
				<% end %>

				<% if current_user %>
					<div class="row">
						<div class="col-xs-2 col-md-10">
						</div>
						<div class="col-xs-4 col-md-2">
							<p style="float:right;"><%= image_tag "coins.png" , :width => "30px", :height => "30px" %>
							<%= current_user.coins %></p>
						</div>
					</div>
				<% end %>

				<%= yield %>

			</div>

		</body>

	<% else %>

		<body style = " background-image:url('epl.jpg');background-size: 100%;
    background-repeat: no-repeat; ">

	    <div class="container">
				<%= yield %>
			</div>
		</body>

	<% end %>

</html>
