<!DOCTYPE html>
<html>

	<head>
	  <title>BetApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag "chart_layout", 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>


		<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
	    <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/"><%= image_tag "logo.png" , height: "60", width: "150"%></a>
	      </div>
	      <div class="collapse navbar-collapse">
	        <ul class="nav navbar-nav navbar-right">
	          <li><a href="/">Home</a></li>
	          <li><a href="/table">Table</a></li>
	          <li><a href="/fixtures">Fixtures</a></li>
	          <li><a href="/results">Results</a></li>
	          <li><a href="/rules">Rules</a></li>
	          <li>
	              <a href="/users/sign_in">Login/Sign Up</a>
	            </li>
					</ul>
	      </div>
	    </div>
	  </header><!--/header-->

	  <div style="min-height:650px;">

			<%= yield %>

		</div>


	  <footer id="footer" class="midnight-blue" style="bottom:0;width:100%;">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-6">
	                &copy; 2014 <a target="_blank" href="http://bet380.herokuapp.com">Bet380</a>. All Rights Reserved.
	            </div>
	        </div>
	    </div>
	    
		</footer><!--/#footer-->


	</body>


</html>
